
services:
  web:
    build: ./app
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./app/:/usr/src/app/
    ports:
      - 8000:8000
    env_file:
      - ./.env.dev
    depends_on:
      - db
  db:
    image: postgres:15
    volumes:
      - ./pg_data:/var/lib/postgresql/data/
    environment:
      - TZ=America/Fortaleza
      - POSTGRES_USER={{cookiecutter.project_slug}}
      - POSTGRES_PASSWORD={{cookiecutter.pg_password_develop}}
      - POSTGRES_DB={{cookiecutter.database_develop}}

  redis:
    image: redis:7
    restart: always
    command: ["redis-server", "--requirepass", "{{cookiecutter.redis_password}}"]

  worker:
    build: ./app
    command: celery -A {{cookiecutter.project_slug}} worker -l info # --concurrency=8
    env_file:
      - ./.env.dev
    depends_on:
      - redis
    restart: always
    # ports:
    # - 5555:5555

  beat:
    build: ./app
    command: celery -A {{cookiecutter.project_slug}} beat -l info
    env_file:
      - ./.env.dev
    depends_on:
      - redis
    restart: always

  flower:
    image: mher/flower:0.9.7
    command: ['flower', '--broker=redis://:{{cookiecutter.redis_password}}@redis:6379/0', '--port=5556']
    env_file:
      - ./.env.dev
    ports:
      - 5556:5556
    depends_on:
      - worker
    restart: always

