
services:
  web:
    build:
      context: ./app
      dockerfile: Dockerfile.prod
    command: gunicorn {{cookiecutter.project_slug}}.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./app/web/deploy/static:/home/app/web/deploy/static
      - ./app/web/deploy/media:/home/app/web/deploy/media      
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - db
      - worker
  db:
    image: postgres:15
    volumes:
      - ./pg_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db
  nginx:
    build: ./nginx
    volumes:
      - ./app/web/deploy/static:/home/app/web/static
      - ./app/web/deploy/media:/home/app/web/media
    ports:
      - 1337:80

  redis:
    image: redis:7
    restart: always
    command: ["redis-server", "--requirepass", "{{cookiecutter.redis_password}}"]

  worker:
    build: ./app
    command: celery -A {{cookiecutter.project_slug}} worker -l info # --concurrency=8
    env_file:
      - ./.env.prod
    depends_on:
      - redis
    restart: always
    # ports:
    # - 5555:5555

  beat:
    build: ./app
    command: celery -A {{cookiecutter.project_slug}} beat -l info
    env_file:
      - ./.env.prod
    depends_on:
      - redis
    restart: always

  flower:
    image: mher/flower:0.9.7
    command: ['flower', '--broker=redis://:{{cookiecutter.redis_password}}@redis:6379/0', '--port=5556']
    env_file:
      - ./.env.prod
    ports:
      - 5556:5556
    depends_on:
      - worker
    restart: always

